.donor-card {
  transition: box-shadow 0.3s ease;
  border-radius: 12px;
}

.donor-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}
.logout-btn {
  background: linear-gradient(red, darkred);
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 20px;
  padding: 12px 24px;
  transition: all 0.3s ease;
  width: 100px;
  margin-left: 45%;

}

.logout-btn:hover {
  background: linear-gradient(darkred, red);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.message_btn {
  background-color: green;
  color: white;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.message_btn.clicked {
  background-color: green;
  color: white;
  font-weight: bold;
}
